@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TARJETAS DE CREDITO.NET</h1>
    <p class="lead">TARJETAS DE CREDITO.NET es un sitio web que utiliza HTML, CSS y JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introduccion</h2>
        <p>
            TARJETAS DE CREDITO.NET MVC ofrece una tarjeta emitida por una entidad bancaria que permite realizar ciertas operaciones desde un cajero automático y la compra de bienes y servicios a crédito.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Funcionamiento</h2>
        <p>Es un medio de pago que te permite hacer compras y cancelar el valor posteriormente. Es de CREDITO porque la suma de dinero que usas cuando haces la compra, corresponde a un préstamo que te otorga la entidad financiera.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>TARJETAS DE CREDITO.NET es un portal donde se puede obtener informacion detallada sobre las tarjetas de crédito.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>